.area_total {
    display: flex;
    background-color: var(--color-fundocinza2);
    margin: auto 1.5rem;
    height: 60vh;
    width: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.texto {
    display: flex;
    flex-direction: column;
    margin: auto 1rem;
}

.texto h1 {
    font-size: 30px;
    margin: 1rem 0;
}

.texto p {
    text-align: justify;
    margin: .5rem 0;
    font-size: 18px;
}

.link_perfil {
    background-color: var(--color-orange);
    padding: 1rem 1.6rem;
    border-radius: 15px;
    margin-top: 10px;
    height: 24px;
    width: 188px;
}

.link_perfil a {
    text-decoration: none;
    font-size: 18px;
}

@media screen and (min-width: 375px) {
    .texto {
        margin: auto 2rem;
    }
}

@media screen and (min-width: 600px) {
    .area_total {
        width: 80vw;
        margin: 20px auto;
    }

    .link_perfil {
        margin-top: 20px;
    }
}

@media screen and (min-width: 900px) {
    .area_total {
        width: 63vw;
    }
}

@media screen and (min-width: 1250px) {
    .area_total {
        width: 50vw;
    }
}