* {
    font-family: "League Spartan";
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    max-width: 100%;
}

form {
    width: 90vw;
}

.input-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#qtdTreinos {
    width: 35vw;
}

select {
    width: 20vw;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn {
    width: 35vw;
    margin-top: 1rem;
    border-radius: 10px;
    height: 40px;
    background: var(--color-orange);
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .2rem;
    cursor: pointer;
}

.submit-btn:hover {
    filter: brightness(.9);
}

.table-container {
    margin-top: 2rem;
    width: 90vw;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    position: relative;
    background: #EFEFEF;
    border-radius: 10px;
    border: 2px solid #000;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    font-size: 18px;
}

.export-form {
    display: flex;
    justify-content: flex-end;
}

.export-btn {
    width: 20vw;
    padding: .5rem;
    background-color: #FF5733;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.export-btn:hover {
    filter: brightness(.9);
}

@media screen and (max-width: 768px) {
    .input-container {
        flex-direction: column;
    }

    select {
        width: 100% !important;
    }

    .submit-btn {
        width: 100%;
    }
}