* {
    padding: 0;
    margin: 0;
}

:root {
    /* tons de cores de fundo do site  */
    --color-fundoblack: #000; /*para o fundo do header/rodapé*/ 
    --color-fundocinza1: #333; /*fundo do site*/
    --color-fundocinza2: #666;
    --color-fundocinza3: #999;
    --color-fundowhite: #fff;
    
    --color-orange: #FF8833; /*cor do botão*/
}

body {
    background-color: var(--color-fundocinza1);
}

.mobile {
    background-color: var(--color-fundoblack);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}