@import url('https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@600;700;800&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'League Spartan', sans-serif; */

* {
    padding: 0;
    margin: 0;
}

:root {
    /* tons de cores de fundo do site  */
    --color-fundoblack: #000; /*para o fundo do header/rodapé*/ 
    --color-fundocinza1: #333; /*fundo do site*/
    --color-fundocinza2: #666;
    --color-fundocinza3: #999;
    --color-fundowhite: #fff;
    
    --color-orange: #FF8833; /*cor do botão*/
}

body {
    background-color: var(--color-fundocinza1);
}

h1, h2, h3 {
    color: var(--color-fundowhite);
    font-family: 'League Spartan', sans-serif;
}

p, ul, input, label, button {
    font-family: 'Lato', sans-serif;
}



@media screen and (min-width: 768px){
    .menu {
        background-color: var(--color-fundoblack);
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .logo {
        width: 30vw;
    }
    
    .menu a {
        font-size: 30px;
        color: var(--color-fundowhite);
        font-family: 'League Spartan', sans-serif;
        text-decoration: none;
    }
}
@media screen and (min-width: 1024px){
    
}
