.img_inicial img {
    height: 92vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
}

.tudo_cima {
    position: absolute;
    z-index: 1;
}

.text_em_cima {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 78vh;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.text_em_cima .titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_em_cima .titulos h2{
    color: #FFAA33;
    font-size: 30px;
}

.text_em_cima p {
    font-size: 27px;
    font-weight: bold;
    height: auto;
    margin: 0 20px;
}

.text_em_cima button {
    background-color:var(--color-orange);
    height: 10vh;
    width: 100%;
    max-width: 90vw;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}

.plataforma_area {
    margin: 2rem 1rem;
}

.plataforma_area h1 {
    text-align: center;
}

.todas_plataforma {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caixa {
    background-color: #1E1E1E;
    border-radius: 8px;
    height: 18vh;
    width: 30vh;
    margin: .5rem ;
    padding: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-basis: auto;
}

.caixa img {
    width: 35px;
    margin-top: 5px;
}

.caixa h3 {
    font-size: 21px;
    width: 221px;
    text-align: center;
    padding: 3px;
}

.caixa p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.celular img {
    display:none;
}


@media screen and (min-width: 600px) {

    .text_em_cima {
        margin: 2rem 0;
        max-width: 1000px;
    }
    .text_em_cima .titulos h2{
        font-size: 40px;
    }
    
    .text_em_cima p {
        font-size: 30px;
    }
}

@media screen and (min-width: 1000px) {

    .tudo_cima {
        display: flex;
        margin: 2rem;
        width: 90vw;
        justify-content: space-around;
        
    }

    .text_em_cima {
        max-width: 500px;
    }

    .celular img {
        display: block;
        width: 380px;
        margin-left: 2vw;
        margin-top: 25px;
    }
}