.img_inicial img {
    height: 92vh;
    width: 100vw;
    max-width: 100%;
    object-fit: cover;
}

.text_em_cima {
    position: absolute;
    z-index: 1;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78vh;
    text-align: center;
}

.text_em_cima h2 {
    color: #FFAA33;
    font-size: 33px;
}

.text_em_cima p {
    font-size: 30px;
    font-weight: bold;
    height: auto;
}

.text_em_cima button {
    background-color:var(--color-orange);
    height: 10vh;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}

.plataforma_area {
    margin: 2rem 1rem;
}

.plataforma_area h1 {
    text-align: center;
}

/* container  */
.todas_plataforma {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* item  */
.caixa {
    background-color: #1E1E1E;
    border-radius: 8px;
    height: 18vh;
    width: 30vh;
    margin: .5rem ;
    padding: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-basis: auto;
}

.caixa img {
    width: 35px;
    margin-top: 5px;
}

.caixa h3 {
    font-size: 21px;
    width: 221px;
    text-align: center;
    padding: 3px;
}

.caixa p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (min-width: 600px) {

    .text_em_cima {
        align-items: center;
        margin: 2rem;
        width: 90vw;
    }

    .text_em_cima h2 {
        margin: 20px 65px 0 65px;
    }

    .text_em_cima button {
        width: 60vw;
    }
}